/*! FUNCIONALIDADES */
/*--VARIABLES de colores aplicadas en todos los documentos--*/
/*--EXTENDS flex-wrap--
aplicada en el INDEX, MODELOS, OPERACIONES, SERVICIOS*/
.compras .tarjeta-de-productos, .comprar-service .tarjetas-del-service, .SUV .compra-suv, .PICK-UP .compra-pick-up, .Datos .Tarjeta-de-Datos, .row .autos-listado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

/*--MIXIN aplicado en INDEX*/
/*! RESET */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*! HEADER */
header {
  background-color: #00184F;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center; }
  header img {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(157deg) brightness(105%) contrast(100%); }
  header h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500; }
  header nav {
    width: 50%; }
    header nav ul {
      list-style: none;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0%; }
      header nav ul li {
        margin: 10px; }
        header nav ul li a {
          text-decoration: none;
          color: #ffffff; }

/*! INDEX */
.Bienvenidos {
  width: 100%;
  height: 500px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/bienvenida.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Bienvenidos h2 {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: fixed; }
  .Bienvenidos p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.compras {
  background-color: #357681; }
  .compras h2 {
    text-align: center;
    background-color: #00184F;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .compras .tarjeta-de-productos div {
    text-align: center;
    width: 380px;
    border: #00184F solid 1px;
    margin: 20px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/banner_tipo_11.png");
    color: #ffffff;
    box-shadow: 10px 10px 25px 10px #00000099;
    -webkit-box-shadow: 10px 10px 25px 10px #00000099;
    -moz-box-shadow: 10px 10px 25px 10px #00000099; }
    .compras .tarjeta-de-productos div img {
      width: 100%; }
    .compras .tarjeta-de-productos div .boton-conoce-mas {
      text-decoration: none;
      display: inline-block;
      margin: 10px;
      background-color: #00184F;
      color: #ffffff;
      padding: 15px; }

.comprar-service h2 {
  text-align: center;
  background-color: #00184F;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.comprar-service .tarjetas-del-service .cuerpo-de-tarjeta {
  text-align: center;
  border: #00184F solid 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  box-shadow: 10px 10px 25px 10px #00000099;
  -webkit-box-shadow: 10px 10px 25px 10px #00000099;
  -moz-box-shadow: 10px 10px 25px 10px #00000099; }

.grid-galeria {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 15px;
  object-fit: cover; }
  .grid-galeria div {
    position: relative; }
    .grid-galeria div h3 {
      position: absolute;
      bottom: 0;
      color: #ffffff;
      background-color: #00000099;
      width: 100%;
      padding: 10px; }
    .grid-galeria div img {
      width: 100%;
      height: 100%;
      box-shadow: 10px 10px 25px 10px #00000099;
      -webkit-box-shadow: 10px 10px 25px 10px #00000099;
      -moz-box-shadow: 10px 10px 25px 10px #00000099; }

/*! FOOTER */
footer div {
  list-style: none;
  background-color: #00184F;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px; }
  footer div .redes {
    text-align: right; }
    footer div .redes p {
      color: #ffffff; }

/*! MODELOS */
.compras {
  background-color: #357681; }
  .compras h2 {
    text-align: center;
    background-color: #00184F;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .compras .tarjeta-de-productos div {
    text-align: center;
    width: 380px;
    border: #00184F solid 1px;
    margin: 20px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/banner_tipo_11.png");
    color: #ffffff;
    box-shadow: 10px 10px 25px 10px #00000099;
    -webkit-box-shadow: 10px 10px 25px 10px #00000099;
    -moz-box-shadow: 10px 10px 25px 10px #00000099; }
    .compras .tarjeta-de-productos div img {
      width: 100%; }
    .compras .tarjeta-de-productos div .boton-conoce-mas {
      text-decoration: none;
      display: inline-block;
      margin: 10px;
      background-color: #00184F;
      color: #ffffff;
      padding: 15px; }

.SUV .compra-suv div {
  text-align: center;
  width: 380px;
  border: #00184F solid 1px;
  margin: 20px;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("../img/banner_tipo_11.png");
  color: #ffffff;
  box-shadow: 10px 10px 25px 10px #00000099;
  -webkit-box-shadow: 10px 10px 25px 10px #00000099;
  -moz-box-shadow: 10px 10px 25px 10px #00000099; }
  .SUV .compra-suv div img {
    width: 100%; }
  .SUV .compra-suv div .boton-conoce-mas {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    background-color: #00184F;
    color: #ffffff;
    padding: 15px; }

.PICK-UP h2 {
  text-align: center;
  background-color: #00184F;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.PICK-UP .compra-pick-up div {
  text-align: center;
  width: 380px;
  border: #00184F solid 1px;
  margin: 20px;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("../img/banner_tipo_11.png");
  color: #ffffff;
  box-shadow: 10px 10px 25px 10px #00000099;
  -webkit-box-shadow: 10px 10px 25px 10px #00000099;
  -moz-box-shadow: 10px 10px 25px 10px #00000099; }
  .PICK-UP .compra-pick-up div img {
    width: 100%; }
  .PICK-UP .compra-pick-up div .boton-conoce-mas {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    background-color: #00184F;
    color: #ffffff;
    padding: 15px; }

/*! SERVICIOS */
h2 {
  text-align: center;
  background-color: #00184F;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.Datos .Tarjeta-de-Datos div {
  text-align: center;
  width: 380px;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  margin: 0px;
  color: #000000;
  padding: 0px; }

.mapa {
  text-align: center; }

/*! OPERACIONES */
.row {
  background-color: #357681; }
  .row h2 {
    text-align: center;
    background-color: #00184F;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .row .autos-listado div {
    text-align: center;
    width: 380px;
    border: #00184F solid 1px;
    margin: 20px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/banner_tipo_11.png");
    color: #ffffff;
    box-shadow: 10px 10px 25px 10px #00000099;
    -webkit-box-shadow: 10px 10px 25px 10px #00000099;
    -moz-box-shadow: 10px 10px 25px 10px #00000099; }
    .row .autos-listado div img {
      width: 100%; }
    .row .autos-listado div .boton-conoce-mas {
      text-decoration: none;
      display: inline-block;
      margin: 10px;
      background-color: #00184F;
      color: #ffffff;
      padding: 15px; }

/*! AYUDA */
:root {
  --white: $color-secundario;
  --background: $color-quartenario;
  --background-hover: $color-quinario;
  --primary-blue: $color-sexagenario;
  --blue-gray: $color-septenario; }

html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

body {
  height: 100%;
  background-color: var(--blue-gray); }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.faq-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--background); }
  .faq-container details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease-in-out; }
    .faq-container details:hover {
      background-color: var(--background-hover); }
      .faq-container details:hover svg {
        stroke: var(--primary-blue); }
    .faq-container details [open] {
      background-color: var(--background-hover); }
      .faq-container details [open] .faq-titulo {
        color: var(--primary-blue); }
  .faq-container summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1em;
    align-items: center; }
    .faq-container summary svg {
      stroke: var(--white); }
    .faq-container summary details [open] summary svg {
      stroke: var(--primary-blue);
      transform: rotate(90deg); }
    .faq-container summary:hover .faq-titulo {
      color: var(--primary-blue); }
    .faq-container summary::-webkit-details-marker {
      display: none; }
    .faq-container summary:focus {
      outline: none; }

.faq-titulo {
  color: var(--white);
  width: 90%;
  transition: all 250ms ease-in-out; }

.faq-contenido {
  color: var(--white);
  padding: 0.2em 1em 1em 1em;
  font-weight: 300;
  line-height: 1.5; }

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1em;
  transition: all 150ms ease-out; }

/*!------MEDIA QUERIES------*/
@media screen and (max-width: 900px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px; } }

@media screen and (max-width: 880px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 675px) {
  header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 450px) {
  .grid-galeria {
    grid-template-columns: 1fr; } }
