/*! MODELOS */

.compras{
    background-color: $color-octogenario;
    h2{
        text-align: center;
    background-color: $color-principal;
    color: $color-secundario;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .tarjeta-de-productos{
        @extend %flex-wrap;
        div{
            text-align: center;
            width: 380px;
            border: $color-principal solid 1px;
            margin: 20px;
            display: inline-block;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-image: url("../img/banner_tipo_11.png");
            color: $color-secundario;
            box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -webkit-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -moz-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            img{
                width: 100%;
            }
            .boton-conoce-mas{
                text-decoration: none;
                display: inline-block;
                margin: 10px;
                background-color: $color-principal;
                color: $color-secundario;
                padding: 15px;
            }
        }
    }
}

.SUV{
    .compra-suv{
        @extend %flex-wrap;
        div{
            text-align: center;
            width: 380px;
            border: $color-principal solid 1px;
            margin: 20px;
            display: inline-block;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-image: url("../img/banner_tipo_11.png");
            color: $color-secundario;
            box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -webkit-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -moz-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            img{
                width: 100%;
            }
            .boton-conoce-mas{
                text-decoration: none;
                display: inline-block;
                margin: 10px;
                background-color: $color-principal;
                color: $color-secundario;
                padding: 15px;
            }
        }
    }
}

.PICK-UP{
    h2{
        text-align: center;
        background-color: $color-principal;
        color: $color-secundario;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .compra-pick-up{
        @extend %flex-wrap;
        div{
            text-align: center;
            width: 380px;
            border: $color-principal solid 1px;
            margin: 20px;
            display: inline-block;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-image: url("../img/banner_tipo_11.png");
            color: $color-secundario;
            box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -webkit-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            -moz-box-shadow: 10px 10px 25px 10px $color-nonageniario;
            img{
                width: 100%;
            }
            .boton-conoce-mas{
                text-decoration: none;
                display: inline-block;
                margin: 10px;
                background-color: $color-principal;
                color: $color-secundario;
                padding: 15px;
            }
        }
    }
}